@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-body;
  font-weight: 100;
  color: $font-color-body;
  height: 100vh;
}

input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  position: relative;
}
