* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: aliceblue;
}

input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.header {
  background-color: #052C49;
  padding: 12% 0;
  top: 0;
  width: 100vw;
  border-radius: 0 0 10px 10px;
  text-align: center;

  p {
    display: block;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;

    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.braga-logo {
  height: 47px;
  background-image: url(../braga-cidade-aut.jpeg);
  background-size: contain;
  top: 0;
  padding: 0;
  background-repeat: no-repeat;
 }

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00A9E4;

  .question {
    display: block;
    margin: 20px 0 0 0;
  }

  .title {
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 25px 0 5px 0;
  }

  .select-options {
    width: 140px;
    margin-bottom: 10px;
  }

  .quick-intervention {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
  }

  .get-image {
    width: auto;
    height: fit-content;
  }
}

.footer {
  background-color: #446CAA;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 80%;
  border-radius: 10px 10px 0 0;
}
