* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: aliceblue;
  height: 100vh;
}

input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  position: relative;
}

.external-box {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .header {
    flex-grow: 0;
    flex-basis: auto;
    background-color: #052C49;
    padding: 12% 0;
    top: 0;
    width: auto;
    border-radius: 0 0 10px 10px;
    text-align: center;

    p {
      display: block;
      text-transform: lowercase;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: 400;

      span {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}


.braga-logo {
  height: 47px;
  background-image: url(../braga-cidade-aut.jpeg);
  background-size: contain;
  top: 0;
  padding: 0;
  background-repeat: no-repeat;
 }

.container {
  width: auto;
  // display: flex;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
  text-align: center;
  background-color: #00A9E4;
  border-radius: 10px;

  .question {
    display: block;
    margin: 20px 0 0 0;

    button {
      background-color: #446CAA;
      color: aliceblue;
      padding: 5px 15px;
      border-radius: 3px;
      border: none;

    }
  }

  .title {
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 25px 0 5px 0;
  }

  .select-options {
    width: 140px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 2px;
  }

  .quick-intervention {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
  }

  .get-image {
    width: auto;
    height: fit-content;
  }
}

.footer {
  background-color: #446CAA;
  flex-grow: 0;
  flex-basis: 40px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  font-size: 10px;
  border-radius: 10px 10px 0 0;

  .icon {
    font-size: 5px;
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 450px) {
  body {
    width: 450px;
    margin: 0 auto;
  }
}
