$background-color-primary: #052C49;
$background-color-secondary: #00A9E4;
$background-color-terciary: #446CAA;

$font-family-body: 'Roboto', sans-serif;
$font-color-body: aliceblue;

$box-shadow: 1px 1px 5px black;
