<footer class="footer">
    <p>Made with ❤️ and 😊 in 🇵🇹 by MenDesign</p>
    <p class="currentYear"></p>
    <a
      href="https://www.flaticon.com/free-icons/walk-of-fame"
      title="walk of fame icons"
      class="icon"
      >Walk of fame icons created by surang - Flaticon</a
    >
  </footer>
</div>

<script>
  document
    .getElementById("geoCoordsBtn")
    .addEventListener("click", function () {
      // Check if the browser supports Geolocation
      if (!navigator.geolocation) {
        alert("Geolocation is not supported by your browser.");
        return;
      }

      // Get the current position
      navigator.geolocation.getCurrentPosition(
        function (position) {
          // Success callback
          const { latitude, longitude } = position.coords;

          fetch("/sendLocation", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              latitude,
              longitude,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              console.log("Server response:", data);
            })
            .catch((error) => {
              console.error("Error sending form data:", error);
            });

          // Display the coordinates on the page
          document.getElementById(
            "coordsDisplay"
          ).textContent = `Latitude: ${latitude}, Longitude: ${longitude}`;
        },
        function (error) {
          // Error callback
          switch (error.code) {
            case error.PERMISSION_DENIED:
              alert("User denied the request for Geolocation.");
              break;
            case error.POSITION_UNAVAILABLE:
              alert("Location information is unavailable.");
              break;
            case error.TIMEOUT:
              alert("The request to get user location timed out.");
              break;
            default:
              alert("An unknown error occurred.");
          }
        }
      );
    });
</script>
</body>
</html>
