<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="5;url=http://127.0.0.1:5000" />
    <link rel="icon" href="static/walk.png" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Love2Walk</title>
  </head>

  <body>
    <div class="external-box">
      <header class="braga-logo"></header>
      <header class="header">
        <h1>love2walk</h1>
        <p>Sabe bem caminhar em <span class="slogan">Braga</span></p>
      </header>
      <section class="container">
        <div class="success-container">
          <h1>
            Thank you for your contribution. 🤝
          </h1>
          <h1>
            Together we can make a Braga even better! 🎉
          </h1>
          <h2>You will be redirected shortly...</h2>
        </div>
      </section>

{% include 'footer.html' %}
